p{
  font-size: 14px;
  color: #262626;
}

.section{
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-heading{
  color: rgb(red, green, blue);
  font-size: 26px;
}
.underline{
  height:4px ;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bg-c-light{
  background-color: #f2f2f2;
}

.footer a{
  color: white;
  text-decoration: none;
}

.footer a:hover{
  color: gray;
 
}


.section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px; /* Adjust as needed */
}

.container {
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto; /* This centers the container */
  padding: 20px;
}

.main-heading {
  font-size: 2em; /* Adjust as needed */
  margin-bottom: 10px;
}

.underline {
  width: 50px; /* Adjust as needed */
  height: 4px; /* Adjust as needed */
 
  margin: 0 auto 20px; /* This centers the underline */
}

p {
  font-size: 1em; /* Adjust as needed */
}
